/*Credit to https://www.bettermotherfuckingwebsite.com */
body {
	max-width: 960px;
	line-height:1.6;
	text-align: center;
	margin: auto;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #EEEEEE;
	color:#444;
	border: none;
}
/*import undertale battle box font.*/
@font-face {
    font-family: "8bitoperator JVE Regular";
    src:url("8bitoperator_jve.eot?") format("eot"), url("8bitoperator_jve.woff") format("woff"), url("8bitoperator_jve.ttf") format("truetype"), url("8bitoperator_jve.svg#8bitoperator-JVE") format("svg");
    font-weight:normal;
    font-style:normal;
}
/* undertale dmg font */
@font-face {
    font-family: "Hachicro";
    src: url("Hachicro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/*Table styling for the navigation box.*/
table {
	margin: auto;
	text-align: center;
}
td {
	font-family: 'Roboto Condensed', Tahoma, sans-serif;
}
th {
	font-family: 'Oswald', Helvetica, sans-serif;
	font-weight: normal;
}
/*Special table style for that proof page*/
.proof-table {
	text-align: left;
	border: 1px solid #444;
	border-collapse: collapse;
}
/*Header and footer styles*/
header {
	max-height: 150px;
}
footer {
	max-height: 50px;
	font-family: 'Oswald', Helvetica, sans-serif;
	color:#444;
}
h1,h2,h3 {
	font-family: 'Oswald', Helvetica, sans-serif;
	line-height: 1.2;
}
/*youtube embeds*/
iframe {
	border: none;
}
/* Because bullets are hell */
li {
	list-style-type: none;
}
/*PRETTY F*CKING SELF-EXPLANATORY*/
.bold {
	font-weight: bold;
}
/*I wanted fancy links. I made fancy links.*/
a:link {
	color: #369;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	font-style: italic;
	color: #FF4500;
}
a:visited {
	/*something something style something something */
}
/*Secret easter eggy link*/
#secretlink {
	color:#444;
	text-decoration: none;
}
#secretlink:hover {
	text-decoration: underline;
}
#secretlink:active {
	color: black;
	font-style: italic;
}
/*float right and left*/
.fright {
	float: right;
}
.fleft {
	float: left;
}
.fclear {
	clear: both;
}
/*404.html styles*/
.ahcrap {
	color: #FFFFFF;
	text-align: center;
}
/*IT'S AN ELABORATE RUSE I TELL YOU*/
#ruse {
    color: #369;
	text-decoration: none;
}
#ruse:hover {
	text-decoration: underline;
}
#ruse:active {
	font-style: italic;
	color: #FF4500;
}
/*the div that holds the dialog on ruse.html*/
#script {
    font-family: "8bitoperator JVE Regular";
    background-color: black;
    font-size: 25px;
    margin: auto;
}
#magicBox {
    font-family: "Hachicro";
    font-size: 30px;
    background-color: black;
    color: red;
}
.dialog {
    text-align:left;
}
.dialog:before {
    content: "*"; /* Insert content that looks like bullets */
    padding-right: 8px;
}
.encounterButton {
    padding: 5px;
}
/*Why in [REDACTED]'s name not*/
@-webkit-keyframes dreem {
    0%{color:#F00; border-color:#F00;}
    17%{color:#FF0; border-color:#FF0;}
    33%{color:#0F0; border-color:#0F0;}
    50%{color:#0FF; border-color:#0FF;}
    67%{color:#00F; border-color:#00F;}
    84%{color:#F0F; border-color:#F0F;}
    100%{color:#F00; border-color:#F00;}
}
@keyframes dreem{
    0%{color:#F00; border-color:#F00;}
    17%{color:#FF0; border-color:#FF0;}
    33%{color:#0F0; border-color:#0F0;}
    50%{color:#0FF; border-color:#0FF;}
    67%{color:#00F; border-color:#00F;}
    84%{color:#F0F; border-color:#F0F;}
    100%{color:#F00; border-color:#F00;}
}
.rainbow_text {
    -webkit-animation:dreem 5s linear 0s infinite;
    animation:dreem 5s linear 0s infinite
}
.rainbow_text_border {
    border: 5px solid #F00;
    -webkit-animation:dreem 5s linear 0s infinite;
    animation:dreem 5s linear 0s infinite
}
