/*Credit to https://www.bettermotherfuckingwebsite.com */
body {
	max-width: 960px;
	line-height:1.6;
	text-align: center;
	margin: auto;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #EEEEEE;
	color:#444;
	border: none;
}
@font-face {
    font-family: "8bitoperator JVE Regular";
    src:url("8bitoperator_jve.eot?") format("eot"), url("8bitoperator_jve.woff") format("woff"), url("8bitoperator_jve.ttf") format("truetype"), url("8bitoperator_jve.svg#8bitoperator-JVE") format("svg");
    font-weight:normal;
    font-style:normal;
}
table {
	margin: auto;
	text-align: center;
}
td {
	font-family: 'Roboto Condensed', Tahoma, sans-serif;
}
th {
	font-family: 'Oswald', Helvetica, sans-serif;
	font-weight: normal;
}
.proof-table {
	text-align: left;
	border: 1px solid #444;
	border-collapse: collapse;
}
header {
	max-height: 150px;
}
footer {
	max-height: 50px;
	font-family: 'Oswald', Helvetica, sans-serif;
	color:#444;
}
h1,h2,h3 {
	font-family: 'Oswald', Helvetica, sans-serif;
	line-height: 1.2;
}
iframe {
	border: none;
}
/* Because bullets are hell */
li {
	list-style-type: none;
}
.bold {
	font-weight: bold;
}
a:link {
	color: #369;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	font-style: italic;
	color: #FF4500;
}
a:visited {
	/*something something style something something */
}
#secretlink {
	color:#444;
	text-decoration: none;
}
#secretlink:hover {
	text-decoration: underline;
}
#secretlink:active {
	color: black;
	font-style: italic;
}
.fright {
	float: right;
}
.fleft {
	float: left;
}
.fclear {
	clear: both;
}
.whocares {
	padding: 0px 0px 0px 0px;
}
.ahcrap {
	color: #FFFFFF;
	text-align: center;
}
#ruse {
    color: #369;
	text-decoration: none;
}
#ruse:hover {
	text-decoration: underline;
}
#ruse:active {
	font-style: italic;
	color: #FF4500;
}
#script {
    border: 3px solid white;
    font-family: "8bitoperator JVE Regular";
    background-color: black;
    font-size: 25px;
    margin: auto;
}
.dialog {
    text-align:left;
}
.dialog:before {
    content: "*"; /* Insert content that looks like bullets */
    padding-right: 8px;
}
.encounterButton {
    padding: 5px;
}